/* Colors */
$primaryColor: #9356DC;
$secondaryColor: #FF79DA;
$thirdColor: #99E2D0;

/* Backgrounds */
$bgLight: #F6F6F6;

/* Fonts */
$titlesFont: "Shrikhand", cursive;
$textFont: "Roboto", sans-serif;