/* COLORS */
$primaryColor: #9356DC;
$secondaryColor: #FF79DA;
$thirdColor: #99E2D0;

/* BACKGROUND COLORS */
$bgLight: #F6F6F6;

/* FONTS */
$titlesFont: "Shrikhand", cursive;
$textFont: "Roboto", sans-serif;

/* BREAKPOINTS */
$breakpoints: ("sm": 576px, "md": 768px, "lg": 992px, "xl": 1200, "xxl": 1400);