@charset "UTF-8";

/* Configuration and helpers */
@import "abstracts/variables",
"abstracts/mixins";

/* Global components */
@import "components/button",
"components/animations";

/* Layout-related sections */
@import "layout/header",
"layout/footer";

* {
  box-sizing: border-box;
  font-family: $textFont;
}

img {
  width: 100%;
  height: auto;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 30px;
}

a {
  color: black;
  text-decoration: none;
}