@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes loading-spinner {
  to {
    visibility: hidden;
  }
}

@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }
  10% {
    stroke-dashoffset: 1550;
  }
  30% {
    stroke-dashoffset: 3100;
    fill: transparent;
    stroke: $primaryColor;
    stroke-width: 32;
  }
  40% {
    fill: $primaryColor;
  }
  100% {
    stroke-dashoffset: 3100;
    fill: $primaryColor;
    stroke: $primaryColor;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.125);
  }
  30% {
    transform: scale(1);
  }
  45% {
    transform: scale(1.5);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}