.btn {
  border-radius: 30px;
  padding: 16px 50px;
  color: white;
  background: rgb(255, 121, 218);
  background: linear-gradient(177deg, #ff79da 0%, #9356dc 93%, #9356dc 100%);
  display: block;
  width: fit-content;
  font-size: 1.25rem;
  text-align: center;

  &--like {
    background: none;
    color: black;
    border: none;
    width: auto;
    padding: 0;
  }
}