.btn {
  border-radius: 30px;
  padding: 16px 50px;
  color: white;
  background: rgb(255, 121, 218);
  background: linear-gradient(177deg, #ff79da 0%, #9356dc 93%, #9356dc 100%);
  display: table;
  font-size: 1.4rem;
  text-align: center;
  cursor: pointer;
  @include box-shadow();

  &--like {
    background: none;
    color: black;
    border: none;
    width: auto;
    padding: 0;
    box-shadow: none;
    position: relative;

    i {
      font-size: 1.4em;
    }

    i::after {
      content: "\f004";
      font-weight: bold;
      position: absolute;
      left: 0;
      mix-blend-mode: normal;
      color: red;
    }
  }

  &--primary {
    transition: opacity 100ms ease-in, box-shadow 200ms ease-in;
    &:hover {
      opacity: 0.8;
      @include box-shadow(6px, 6px, 15px, darkgrey);
      transition: opacity 200ms ease-out, box-shadow 400ms ease-out;
    }
  }
}