.menu-cards {
  @include d-flex(flex-start, flex-start);
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
  margin-top: 30px;

  @include from("lg") {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__item {
    width: 100%;
    background: white;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
    @include box-shadow();

    @include from("lg") {
      flex-basis: calc(33.33% - 30px);
      margin: 15px 15px;
    }

    a {
      @include d-flex();
      &:hover > .menu-cards__button {
        margin: 0;
      }
    }

    h4, p {
      margin: 0;
    }
  }

  &__content {
    flex: 1 1 auto;
    @include d-flex(space-between, flex-end);
    padding: 0 15px;
  }

  &__button {
    align-self: center;
    height: 100%;
    color: white;
    background: $thirdColor;
    margin: 0px -70px 0px 0;

    i {
      font-size: 2rem;
      height: 70px;
      width: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}