.restaurants {

  &__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  &__card {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;
    background: white;
    border-radius: 15px;
    box-shadow: 2px 2px 10px lightgray;
    box-sizing: border-box;
    height: 350px;
    position: relative;

    a {
      height: inherit;
      color: black;
      text-decoration: none;
      display: flex;
      flex-direction: column;
    }
  }

  &__image {
    height: 70%;
    margin: 0;
    width: 100%;
    max-width: 100%;

    img {
      width: inherit;
      max-width: inherit;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
  }

  &__text {
    box-sizing: border-box;
    height: 30%;
    min-height: 30%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    h3, p {
      margin: 0;
    }

    h3 {
      font-size: 1.4rem;
    }

    p {
      font-size: 1.3rem;
      font-weight: lighter;
      margin-top: 5px;
    }

    button {
      position: absolute;
      right: 22px;
      font-size: 1.9rem;
      top: 24px;
    }
  }

  &__flag {
    position: absolute;
    background: #8AE6D0;
    color: #069573;
    top: 15px;
    right: 15px;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
  }
}